h1 {
  color: #ccc;
  padding: 10px;
  text-align: right;
}
body {
  background: url(../images/shattered-island.gif) 50%;
}
.b-header-navigation {
  position: absolute;
  padding-top: 50px;
  top: 0px;
  height: 100vh;
}
.b-header-navigation__element {
  text-align: left;
  color: #ddd;
  padding: 0px;
  background-position: -100% 0%;
  transition: .3s;
  display: block;
  border: 3px solid white;
  height: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}
.b-header-navigation__element--general {
  transition: .3s;
}
.b-header-navigation__element--general .b-header-navigation__link {
  display: block;
}
.b-header-navigation__link,
.b-header-navigation__link:hover,
.b-header-navigation__link:active,
.b-header-navigation__link:focus {
  color: #ccc;
  width: 100%;
  display: block;
}
.b-header-navigation__element:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.b-header-navigation:hover .b-header-navigation__element {
  height: auto;
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}
.b-header-navigation:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
